.timeline{
  /* display: flex; */
  margin-left:250px;
}
.timeline .card-holders{
  text-align: -webkit-center;
}

@media screen and (max-width: 12600px) {
  .timeline{
    display: block ;
    margin-left:250px;
  }
  .time-item {
   display: -webkit-box;;
   }

}
@media screen and (max-width: 770px) {
  .timeline{

    display: block ;
    margin-left:0px;
  }
  .time-item {
    display: block;
   }
   .time-date::after{
     visibility: hidden;
   }
}
