.me::after {
  cursor: pointer;
    content: ' ';
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    margin-left: 36px;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}

.me:hover::after, .Bio.me::after{
    content: ' ';

    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 18px;
    margin-left: 48px;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.Bio.me::after{
  cursor: default;
}

.Navigation{
  min-width: 250px;
      border: solid;
      border-radius: 3px;
      position:fixed;
      margin-right:400px;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      background-color: #fafafa;
}
.Navigation a{
  color: black;
  text-decoration: none;
}
.bio{
margin: 20px;
}
.bio h2{
margin: 0px;
}

.bio img{
  border-radius: 50%;
width: 150px;
}

.nav-item {
    margin: 10% 0;
    font-size: x-large;
    width :100%;
}
.nav-item:hover {
  cursor: pointer;
    background-color: #DAEBE9;
    opacity: 1;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

}

.menu{

}
.PortfolioPage {
  display: flex;
}

.Career.car{
  background-color: #DAEBE9;
  cursor: default;

}

.Contact.con{
  background-color: #DAEBE9;
  cursor: default;

}
.Projects.proj{
  background-color: #DAEBE9;
  cursor: default;

}
.Resume.res{
  background-color: #DAEBE9;
  cursor: default;

}
.Career.car::after{
display: block;
}

.Contact.con::after{
display: block;
}
.Projects.proj::after{
display: block;
}
.Resume.res::after{
display: block;
}

.nav-item::after{
content: " ";
display: none;
width: 0;
height: 0;
border-top: 17px solid transparent;
border-bottom: 19px solid transparent;
border-right: 17px solid black;
bottom: 6px;
left: auto;
float: right;
margin:0;
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
